<h3>Leaderboard</h3>
<br> 
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 5%;"></th>
            <th style="width: 4%;text-align: right;">goma = 5 point</th>
            <th style="width: 4%;text-align: right;">germa = 4 point</th>
            <th style="width: 4%;text-align: right;">nandes = 3 point</th>
            <th style="width: 4%;text-align: right;">noali = 5 point</th>
            <th style="width: 4%;text-align: right;">begora = 2 point</th>
            <th style="width: 4%;text-align: right;">domafi = 9 point</th>
            <th style="width: 4%;text-align: right;">norlan = 6 point</th>
            <th style="width: 4%;text-align: right;">marmen = 5 point</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</Table>

