<h3>Tournament</h3>
<br> 
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 1%;"></th>
            <th style="width: 3%;text-align: right;">|senin = goma vs germa|</th>
            <th style="width: 3%;text-align: right;">|rabu = nandes vs noali|</th>
            <th style="width: 5%;text-align: right;">|jumat = begoru vs domafi|</th>
            <th style="width: 4%;text-align: right;">|minggu = norlan vs marmen|</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</Table>

